@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-100: var(--dark-100);
  --color-dark-200: var(--dark-200);
  --color-dark-300: var(--dark-300);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

:root {
  --background: #263238;
  --dark-100: #f7f7f7;
  --dark-200: #b0bec5;
  --dark-300: #455a64;
  --foreground: #ffffff;
  --primary: #4caf50;
  --secondary: #a5d6a7;
}

@layer base {
  * {
    @apply box-border p-0 m-0;
  }
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .content-wrapper {
    @apply w-full min-h-[calc(100vh-4rem)] lg:min-h-[calc(100vh-4rem)];
  }

  .small-icons {
    @apply border border-dark-200 rounded-full cursor-pointer hover:bg-dark-200/50 transition-all;
  }
}
